.form-container{
    text-align: center;
    width: 400px;
    margin: 0px auto;
    margin-top: 200px;
}
.form-field{
    display: block;
}
table{
    text-align: justify;
    margin: 100px;
    width: 80%;
}